.gloryPage {
  background-color: #f8f9fa;
}

.heroSection {
  position: relative;
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.heroContent {
  position: relative;
  z-index: 2;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroSubtitle {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.sectionSubtitle {
  font-size: 1.1rem;
  color: #6c757d;
}

.featureCard {
  background: rgba(94, 94, 94, 0.27);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border: 2px solid rgba(188, 185, 185, 0.4);
  border-radius: 20px;
  padding: 3rem 2rem;
  transition: all 0.4s ease;
  cursor: pointer;
  height: 300px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
}

.featureCard:hover {
  transform: scale(1.1, 1.1);
}

.featureCardsContainer:hover .featureCard:not(:hover) {
  filter: blur(6px);
  transform: scale(0.9, 0.9);
}

.gloryCard:hover {
  background: linear-gradient(160deg, #dc2626, #991b1b);
}

.featureCard:hover h5,
.featureCard:hover p {
  color: #ffffff;
}

.card-img-top {
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem; /* Adjust padding as needed */
}

.card-body h5 {
  margin-bottom: 0;
}

.card-body p {
  margin-bottom: 0;
}

.achievementText {
  color: #343a40;
  font-weight: 500;
}
